<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Redigera annons - Admin - Sveriges Vårdgivare</title>

    <meta name="author" content="Ensotech AB">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#6366f1">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#080032">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Styles -->
    <link rel="stylesheet" media="screen" href="/vendor/boxicons/css/boxicons.min.css"/>
    <link rel="stylesheet" media="screen" href="/css/theme.css">
    <link rel="stylesheet" media="screen" href="/css/custom.css">
</head>

<body>

<main class="page-wrapper">
    <div class="d-flex h-100">

        <!-- Sidenav -->
        <aside class="d-none d-lg-flex flex-column justify-content-between py-4 px-3 shadow-sm h-100 sticky-top" style="min-width:250px; max-height: 100vh;">
            <div>
                <div class="px-5 mb-4">
                    <a href="/">
                        <img width="100" src="/img/logo.png" alt="Sveriges Vårdgivare">
                    </a>
                </div>
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a href="/admin/start" class="nav-link">
                            <i class="bx bxs-home fs-lg me-2"></i>
                            Start
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/vardgivare?page=0" class="nav-link">
                            <i class="bx bx-plus-medical fs-lg me-2"></i>
                            Vårdgivare
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/nyheter?page=0" class="nav-link">
                            <i class="bx bxs-news fs-lg me-2"></i>
                            Nyheter
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/annonser?page=0" class="nav-link active">
                            <i class="bx bxs-message-rounded-error fs-lg me-2"></i>
                            Annonser
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/omslagsbilder" class="nav-link">
                            <i class="bx bxs-image fs-lg me-2"></i>
                            Omslagsbilder
                        </a>
                    </li>
                </ul>
            </div>
            <div class="border-top pt-4 mt-4">
                <a href="/logout" class="btn btn-outline-info shadow-sm w-100">
                    <i class="bx bx-log-out fs-lg me-2"></i>
                    Logga ut
                </a>
            </div>
        </aside>

        <div class="w-100 h-100 px-3 px-sm-4 px-xxl-5 py-5 py-sm-5">
            <!-- Breadcrumbs -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin/start"><i class="bx bxs-home fs-lg me-1"></i></a></li>
                    <li class="breadcrumb-item"><a href="/admin/vardgivare">Annonser</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Redigera annons</li>
                </ol>
            </nav>

            <h1 class="h1 mb-5">Redigera annons</h1>
            <form class="row"th:action="@{'/admin/redigera-annons/' + ${post.id}}" method="post" enctype="multipart/form-data">
                <div class="col-5 pe-4">
                    <h2 class="h6 mb-3">Annonsinnehåll</h2>
                    <!-- Edit background image -->
                    <div class="mb-4 d-flex align-items-center">
                        <div>
                            <label class="form-label d-block" for="imgLogo">Ändra omslagsbild <span class="fw-normal fs-sm">(ca 250x250px)</span></label>
                            <input onchange="console.log(window.URL.createObjectURL(this.files[0])); document.getElementById('coverImg').src = window.URL.createObjectURL(this.files[0]);" class="form-control form-control-sm shadow-sm" type="file" name="imgLogo" id="imgLogo">
                        </div>
                        <div class="ms-4">
                            <img th:src="${post.coverImgSrc}" style="max-height: 50px;" id="coverImg" src="/img/logo-placeholder.png" alt="">
                        </div>
                    </div>
                    <!-- Ad link -->
                    <div class="mb-4">
                        <label class="form-label d-block" for="link">Annonslänk</label>
                        <input class="form-control form-control-sm shadow-sm" type="text" name="link" th:value="${post.link}" id="link" placeholder="https://www.sverigesvardgivare.se/">
                    </div>
                    <!-- Ad text -->
                    <div class="mb-4">
                        <label class="form-label d-block" for="content">Annonstext</label>
                        <input class="form-control form-control-sm shadow-sm" th:value="${post.content}" type="text" name="content" id="content" maxlength="50" placeholder="Text för inlägget (max 50 bokstäver)">
                    </div>

                    <hr class="mb-3">
                    <!-- Advertisers -->
                    <h2 class="h6 mb-1">Annonsör</h2>
                    <!-- name -->
                    <div class="mb-4">
                        <label class="form-label d-block" for="name">Namn *</label>
                        <input class="form-control form-control-sm shadow-sm" type="text" th:value="${post.name}" name="name" id="name" placeholder="Brinaxi Care" required>
                    </div>
                    <!-- Email -->
                    <div class="mb-4">
                        <label class="form-label d-block" for="email">E-post</label>
                        <input class="form-control form-control-sm shadow-sm" type="text" name="email" th:value="${post.email}" id="email" placeholder="vårdgivare@domän.se">
                    </div>
                    <!-- Page -->
                    <div class="mb-4">
                        <label class="form-label d-block" for="page">Delsida</label>
                        <select id="page" name="page" class="form-select shadow-sm" type="text">
                            <option th:selected="${post.page=='Startsida'}" value="Startsida">Startsida</option>
                            <option th:selected="${post.page=='Vårdgivare'}" value="Vårdgivare">Vårdgivare</option>
                            <option th:selected="${post.page=='Nyheter'}" value="Nyheter">Nyheter</option>
                        </select>
                    </div>
                </div>
                <div class="col-4 ps-4">
                    <h2 class="h6 mb-3">Status</h2>

                    <!-- Status Radio -->
                    <div class="form-check">
                        <input class="form-check-input" th:checked="${#strings.contains(post.status, 'true')} ? 'checked'" type="radio" name="status[]" id="exampleRadios1" value="true" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Aktiv
                        </label>
                    </div>
                    <div class="form-check mb-4">
                        <input class="form-check-input" th:checked="${#strings.contains(post.status, 'false')} ? 'checked'" type="radio" name="status[]" id="exampleRadios2" value="false">
                        <label class="form-check-label" for="exampleRadios2">
                            Inaktiv
                        </label>
                    </div>

                    <hr class="mb-3">

                    <button class="btn btn-lg btn-primary shadow-primary" type="submit">
                        Spara ändringar
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>


<!-- Vendor Scripts -->
<script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Main Theme Script -->
<script src="/js/theme.min.js"></script>
</body>
</html>