<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Återställ Lösenord - Sveriges Vårdgivare</title>

    <meta name="author" content="Ensotech AB">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#6366f1">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#080032">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Styles -->
    <link rel="stylesheet" media="screen" href="/vendor/boxicons/css/boxicons.min.css"/>
    <link rel="stylesheet" media="screen" href="/vendor/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" media="screen" href="/css/theme.css">
</head>

<body>

<main class="page-wrapper">

    <!-- Header -->
    <header class="navbar navbar-expand-lg bg-light shadow-sm sticky-top">
        <div class="container">
            <a href="/" class="navbar-brand fs-5 h1 m-0 me-3 text-info">
                <img class="me-2" src="/img/logo.png" width="40" alt="Sveriges Vårdgivare">
                Sveriges Vårdgivare
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav id="navbarCollapse" class="collapse navbar-collapse">
                <hr class="d-lg-none mt-3 mb-2">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a href="/vardgivare" class="nav-link">Vårdgivare</a>
                    </li>
                    <li class="nav-item">
                        <a href="/om-oss" class="nav-link">Om oss</a>
                    </li>
                    <li class="nav-item">
                        <a href="/kvalitet" class="nav-link">Kvalitet</a>
                    </li>
                    <li class="nav-item">
                        <a href="/nyheter" class="nav-link">Nyheter</a>
                    </li>
                    <li class="nav-item">
                        <a href="/kontakt" class="nav-link">Kontakta oss</a>
                    </li>
                </ul>
                <a href="/lista-foretag" class="btn btn-primary btn-sm fs-sm rounded my-3 my-lg-0">
                    Lista ditt företag
                    <i class="d-none d-xl-inline bx bx-right-arrow-alt fs-lg ms-1"></i>
                </a>
            </nav>
        </div>
    </header>

    <section class="min-vh-100 d-flex justify-content-center align-items-center" style="margin-top: -79px;">
        <div class="container card border-0 bg-faded-info p-4 shadow" style="max-width: 500px;">
            <a class="fw-bold d-flex align-items-center text-decoration-none" href="/login">
                <i class="bx bx-left-arrow-alt fs-lg me-1"></i>
                Logga in
            </a>
            <hr class="my-4">
            <h1 class="h2 d-flex align-items-center gap-2">
                <i class="bx bx-lock-open display-6"></i>
                Återställ lösenord
            </h1>
            <p>Har du glömt ditt lösenord? Skriv in din kopplade e-post så skickar vi en återställningslänk på mejl.</p>
            <form id="resetForm" class="needs-validation mb-4" novalidate>
                <label for="email" class="form-label">E-post</label>
                <div class="input-group">
                    <input class="form-control" type="email" id="resetEmail" name="resetEmail" placeholder="din@epost.se" required>
                    <div class="invalid-feedback position-absolute start-0 top-100">Var god skriv in en giltig e-post.</div>
                    <button class="btn btn-primary ps-4" type="submit">
                        <i class="bx bx-lock-open-alt me-1 fs-lg"></i>
                        Återställ
                    </button>
                </div>
            </form>
            <p id="formSuccess" class="text-success fs-sm fw-bold d-none mb-0">
                En återställningslänk skickas till din mejl dig inom kort.
            </p>
        </div>
    </section>
</main>

<!-- Hide Button on Submit -->
<script>
    var formSuccess = document.getElementById('formSuccess')

    resetForm.addEventListener("submit", hideForm);

    function hideForm() {
        formSuccess.classList.remove('d-none')
    }
</script>

<!-- Vendor Scripts -->
<script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Main Theme Script -->
<script src="/js/theme.min.js"></script>
</body>
</html>