<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Sveriges Vårdgivare - Hitta, jämför & kontrollera vårdgivare runt om hela Sverige</title>

    <meta name="description" content="Hitta, jämför & kontrollera vårdgivare runt om hela Sverige i vårt register.">
    <meta name="author" content="Ensotech AB">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#6366f1">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#080032">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Styles -->
    <link rel="stylesheet" media="screen" href="/vendor/boxicons/css/boxicons.min.css"/>
    <link rel="stylesheet" media="screen" href="/vendor/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" media="screen" href="/css/theme.css">
</head>

<body>
<!-- Contact Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModal" aria-hidden="true">
    <div class="modal-dialog modal-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content overflow-hidden p-0 d-flex flex-row">
            <div class="min-h-100 w-100 bg-size-cover bg-position-center" style="background-image: url(/img/hero_background_img.jpg);"></div>
            <div class="w-100 p-4">
                <div class="modal-header py-0 border-0">
                    <h1 class="modal-title h4 mb-2">Kom i kontakt med oss</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body py-0">
                    <p>Skicka dina kontaktuppgifter till oss så återkommer vi så fort vi kan!</p>
                    <div class="mb-3">
                        <label class="form-label" for="name">Namn</label>
                        <input class="form-control" type="text" name="name" id="name" placeholder="Johan Johansson" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="cmpName">Företag</label>
                        <input class="form-control" type="text" name="cmpName" id="cmpName" placeholder="Företag AB" required>
                    </div>
                    <div>
                        <label class="form-label" for="email">E-post</label>
                        <input class="form-control" type="email" name="email" id="email" placeholder="domän@foretag.se" required>
                    </div>
                </div>
                <div class="modal-footer pb-0 border-0">
                    <button type="submit" class="btn w-100 btn-primary m-0">
                        Skicka
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<main class="page-wrapper">

    <!-- Header -->
    <header class="navbar navbar-expand-lg bg-light shadow-sm sticky-top">
        <div class="container">
            <a href="/" class="navbar-brand fs-5 h1 m-0 me-3 text-info">
                <img class="me-2" src="/img/logo.png" width="40" alt="Sveriges Vårdgivare">
                Sveriges Vårdgivare
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav id="navbarCollapse" class="collapse navbar-collapse">
                <hr class="d-lg-none mt-3 mb-2">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a href="/vardgivare?page=0" class="nav-link">Vårdgivare</a>
                    </li>
                    <li class="nav-item">
                        <a href="/om-oss" class="nav-link">Om oss</a>
                    </li>
                    <li class="nav-item">
                        <a href="/kvalitet" class="nav-link">Kvalitet</a>
                    </li>
                    <li class="nav-item">
                        <a href="/nyheter?page=0&category=all" class="nav-link">Nyheter</a>
                    </li>
                    <li class="nav-item">
                        <a href="/kontakt" class="nav-link">Kontakta oss</a>
                    </li>
                </ul>
                <a href="/lista-foretag" class="btn btn-primary btn-sm fs-sm rounded my-3 my-lg-0">
                    Lista ditt företag
                    <i class="d-none d-xl-inline bx bx-right-arrow-alt fs-lg ms-1"></i>
                </a>
            </nav>
        </div>
    </header>

    <!-- Hero Section -->
    <section class="position-relative d-flex align-items-center overflow-hidden bg-dark" style="min-height: 500px;">
        <div class="position-absolute bg-size-cover bg-position-center w-100 h-100" style="background-image:url(/img/hero_background_img.jpg); filter:blur(2px) brightness(75%); margin-top: -4px;"></div>
        <div class="position-relative container py-5 text-light">
            <h1 class="h6 text-light fw-semibold">Sveriges Vårdgivare</h1>
            <h2 class="display-5 text-white mb-1">Är du placerande myndighet?</h2>
            <p class="lead">Hitta, jämför & kontrollera vårdgivare i vårt register</p>
            <a href="/vardgivare?page=0" class="btn btn-lg btn-primary shadow-primary mt-4">Alla vårdgivare</a>
        </div>
    </section>

    <!-- Search Healthcare Provider -->
    <div class="container pb-5  mb-lg-4">
        <div class="card border-0 p-4 shadow-sm" style="margin-top: -50px; background-color: #eaf6f6;">
            <form class="my-2" th:action="@{/vardgivare_search}" method="post">
                <h2 class="h3 mb-4 ">Sök vårdgivare</h2>
                <div class="row">
                    <div class="col-md mb-4 mb-md-0">
                        <label class="form-label text-body fw-semibold" for="search_input">Sök</label>
                        <div class="position-relative d-flex justify-content-end align-items-center">
                            <input type="text" name="search_input" id="search_input" class="form-control shadow-sm position-relative pe-5" placeholder="Sök vårdgivare...">
                            <i class="position-absolute bx bx-search-alt fs-4 me-2 pe-1"></i>
                        </div>
                    </div>
                    <div class="col-md mb-4 mb-md-0">
                        <label class="form-label text-body fw-semibold" for="branchType">Verksamhetstyp</label>
                        <select class="form-select shadow-sm" id="branchType" name="branchType">
                            <option value="">Alla</option>
                            <option value="LSS">LSS</option>
                            <option value="HVB-hem">HVB-hem</option>
                            <option value="Stödboende">Stödboende</option>
                            <option value="Skyddat boende">Skyddat boende</option>
                            <option value="Konsulentstödd familjehemsvård">Konsulentstödd familjehemsvård</option>
                            <option value="Daglig verksamhet">Daglig verksamhet</option>
                            <option value="Öppenvård">Öppenvård</option>
                        </select>
                    </div>
                    <div class="col-md mb-4 mb-md-0">
                        <label class="form-label text-body fw-semibold" for="grade">Bedömning</label>
                        <select class="form-select shadow-sm" id="grade" name="grade">
                            <option value="">Alla</option>
                            <option value="Godkänd verksamhet">Godkänd verksamhet</option>
                            <option value="Ej godkänd verksamhet">Ej godkända verksamheter</option>
                            <option value="Ej bedömd verksamhet">Ej bedömda verksamheter</option>
                        </select>
                    </div>
                    <div class="col-md mb-4 mb-md-0">
                        <label class="form-label text-body fw-semibold" for="county">Län</label>
                        <select class="form-select shadow-sm" type="text" id="county" name="county">
                            <option value="">Alla</option>
                            <option value="Stockholm">Stockholm</option>
                            <option value="Västerbotten">Västerbotten</option>
                            <option value="Norrbotten">Norrbotten</option>
                            <option value="Uppsala">Uppsala</option>
                            <option value="Södermanland">Södermanland</option>
                            <option value="Östergötland">Östergötland</option>
                            <option value="Jönköping">Jönköping</option>
                            <option value="Kronoberg">Kronoberg</option>
                            <option value="Kalmar">Kalmar</option>
                            <option value="Gotland">Gotland</option>
                            <option value="Blekinge">Blekinge</option>
                            <option value="Skåne">Skåne</option>
                            <option value="Halland">Halland</option>
                            <option value="Västra Götaland">Västra Götaland</option>
                            <option value="Värmland">Värmland</option>
                            <option value="Örebro">Örebro</option>
                            <option value="Dalarna">Dalarna</option>
                            <option value="Gävleborg">Gävleborg</option>
                            <option value="Västmanland">Västmanland</option>
                            <option value="Jämtland">Jämtland</option>
                            <option value="Västernorrland">Västernorrland</option>
                        </select>
                    </div>
                    <div class="col-md-auto d-md-flex align-items-md-end">
                        <button type="submit" class="d-flex btn btn-primary shadow-primary p-0 w-100 w-md-auto" style="min-width: 44.4px !important; height: 44.4px;">
                            <i class="fw-bold bx bx-search-alt fs-2 ms-1"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Selected Healthcare Providers -->
    <section class="container pb-4 pb-lg-5">
        <div class="d-flex align-items-center justify-content-md-between justify-content-center mb-md-4 mb-3">
            <h2 class="h1  mb-0">Utvalda vårdgivare</h2>

            <!-- Slider prev/next buttons + Quotation mark -->
            <div class="d-md-flex d-none ms-4">
                <button type="button" id="prev-brand" class="btn btn-prev btn-icon btn-sm border me-2">
                    <i class="bx bx-chevron-left"></i>
                </button>
                <button type="button" id="next-brand" class="btn btn-next btn-icon btn-sm border ms-2">
                    <i class="bx bx-chevron-right"></i>
                </button>
            </div>
        </div>
        <div class="swiper mx-n2" data-swiper-options='{
          "slidesPerView": 2,
          "navigation": {
            "prevEl": "#prev-brand",
            "nextEl": "#next-brand"
          },
          "loop": false,
          "pagination": {
            "el": ".swiper-pagination",
            "clickable": true
          },
          "breakpoints": {
            "500": {
              "slidesPerView": 3,
              "spaceBetween": 8
            },
            "650": {
              "slidesPerView": 4,
              "spaceBetween": 8
            },
            "900": {
              "slidesPerView": 5,
              "spaceBetween": 8
            },
            "1100": {
              "slidesPerView": 6,
              "spaceBetween": 8
            }
          }
        }'>
            <div class="swiper-wrapper">

                <!-- Item -->
                <div class="swiper-slide py-3" th:each="promotedProvider : ${promotedProviders}">
                    <a class="card card-body card-hover shadow-sm px-4 border-0">
                        <img th:src="${promotedProvider.logoSrc}" class="img-fluid" alt="Brand" style="height: 100px; object-fit: contain;">
                    </a>
                </div>

                <!-- Pagination (bullets) -->
                <div class="swiper-pagination position-relative pt-3 mt-4 d-md-none d-flex"></div>
            </div>
        </div>
    </section>

    <!-- News Section -->
    <section class="container py-5">
        <h1 class="h1 mb-5"></h1>
        <div class="row">
            <div class="col-xl-9 col-lg-8">
                <div class="tableSearch">
                    <!-- Item -->
                    <article class="card border-0 bg-transparent me-xl-5 mb-4 mb-sm-5" th:each="nyhet : ${nyheter}">
                        <div class="row g-0">
                            <div class="col-sm-5 position-relative bg-position-center bg-repeat-0 bg-size-cover rounded-3" th:style="'background-image: url(' + ${nyhet.coverImgSrc} + '); min-height: 10rem;'"></div>
                            <div class="col-sm-7">
                                <div class="card-body ps-0 ps-sm-4 pe-0 pt-4 py-sm-1">
                                    <a th:href="'/nyheter/' + ${nyhet.id}" class="badge fs-sm fw-bold bg-info mb-3" th:text="${nyhet.category}">Kategori</a>
                                    <h4 class="h5">
                                        <a class="stretched-link" th:href="'/nyheter/' + ${nyhet.id}" th:text="${nyhet.title}">Lorem Ipsum Dolor Sit Amet Consectetur?</a>
                                    </h4>
                                    <p th:text="${nyhet.content}">Nunc aliquet scelerisque pellentesque imperdiet tortor elit, dictum. Tristique odio at dignissim viverra aliquet eleifend erat. Tellus, at arcu, egestas praesent.</p>
                                    <div class="fs-sm text-dark me-3" th:text="${nyhet.published}">Oct 9, 2021</div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

                <!-- Pagination -->
                <nav aria-label="Page navigation example" th:if="${nyheter.size>9}">
                    <ul class="pagination">
                        <li class="page-item">
                            <a th:if="${page>0}" style="cursor: pointer" th:onclick="searchResults([[${page-1}]])" class="page-link shadow-sm border">
                                <i class="bx bx-chevron-left mx-n1"></i>
                            </a>
                        </li>
                        <li class="page-item">
                            <a style="cursor: pointer" th:if="${page>2}" th:onclick="searchResults([[${page-2}]])" th:text="${page-2}" class="page-link shadow-sm border">1</a>
                        </li>
                        <li class="page-item">
                            <a style="cursor: pointer" th:if="${page>1}" th:onclick="searchResults([[${page-1}]])" th:text="${page-1}" class="page-link shadow-sm border">2</a>
                        </li>
                        <li class="page-item active" aria-current="page">
                <span class="page-link bg-info shadow-info" th:text="${page+1}">
                  3
                  <span class="visually-hidden">(current)</span>
                </span>
                        </li>
                        <li class="page-item">
                            <a th:if="${page+1<totalHits}" th:onclick="searchResults([[${page+1}]])" th:text="${page+2}" style="cursor: pointer" class="page-link shadow-sm border">4</a>
                        </li>
                        <li class="page-item">
                            <a th:if="${page+2<totalHits-1}" th:onclick="searchResults([[${page+2}]])" th:text="${page+3}" style="cursor: pointer" class="page-link shadow-sm border">5</a>
                        </li>
                        <li class="page-item">
                            <a th:if="${page+1<totalHits}" th:onclick="searchResults([[${page+1}]])" style="cursor: pointer" class="page-link shadow-sm border">
                                <i class="bx bx-chevron-right mx-n1"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>


            <!-- Sidebar (Offcanvas below lg breakpoint) -->
            <aside class="col-xl-3 col-lg-4">
                <div class="offcanvas-lg offcanvas-end" id="blog-sidebar" tabindex="-1">

                    <!-- Header -->
                    <div class="offcanvas-header border-bottom">
                        <h3 class="offcanvas-title fs-lg">Sidebar</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#blog-sidebar"></button>
                    </div>

                    <!-- Advertising -->
                    <div class="offcanvas-body">
                        <div class="card border-0 bg-faded-primary" th:each="post : ${posts}">
                            <div class="card-body">
                                <a th:href="${post.link}" th:target="_blank" id="coverImg" th:style="'height: 200px; background:url('+ ${post.coverImgSrc} +');'" class="bg-faded-primary rounded-3 shadow-sm bg-size-cover bg-position-center d-flex align-items-end p-2">
                                    <h4 class="text-white text-center h6" style="text-shadow: 1px 5px 5px #0000007a;" th:text="${post.content}">Lorem ipsum dolor sit amet consectetur adipisicing</h4>
                                </a>
                            </div>
                        </div>
                        <p class="mt-3 text-muted text-center">Vill du synas här? <a class="fw-bold text-decoration-none" href="/kontakt">Kontakta oss</a></p>
                    </div>
                </div>
            </aside>
        </div>
    </section>
    <footer class="pt-4 pt-sm-5 bg-faded-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-lg-5 mb-3">
                    <form th:action="@{/nyhetsbrev}" method="post">
                        <div class="d-flex gap-3">
                            <img src="/img/logo.png" style="max-width: 70px; height: 70px;" alt="">
                            <h5 style="max-width: 280px;" class="h4">Branschnyheter och granskningar från SVG</h5>
                        </div>
                        <p class="mb-4" style="max-width: 500px;">Håll dig uppdaterad om vår verksamhet! Vårt digitala nyhetsbrev skickas ca en gång per månad.</p>
                        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                            <label for="newsletter1" class="visually-hidden">E-post</label>
                            <input id="newsletter1" type="text" name="email" class="form-control shadow-sm" placeholder="Din e-post...">
                            <button class="btn btn-primary shadow-sm" type="submit">Prenumera</button>
                        </div>
                    </form>
                </div>

                <div class="col-md-3 col-lg-2 offset-md-2 mb-3">
                    <h5 class="h6 mt-3 mt-md-0">Navigera</h5>
                    <ul class="h-100 fs-sm nav flex-md-column flex-sm-row flex-column gap-3 gap-md-2">
                        <li class="nav-item"><a href="/vardgivare" class="link-dark p-0">Vårdgivare</a></li>
                        <li class="nav-item"><a href="/om-oss" class="link-dark p-0">Om oss</a></li>
                        <li class="nav-item"><a href="/kvalitet" class="link-dark p-0">Kvalitet</a></li>
                        <li class="nav-item"><a href="/nyheter" class="link-dark p-0">Nyheter</a></li>
                        <li class="nav-item"><a href="/kontakt" class="link-dark p-0">Kontakt</a></li>
                        <li class="nav-item"><a href="/lista-foretag" class="link-dark p-0">Lista ditt företag</a></li>
                        
                    </ul>
                </div>
                <div class="d-none d-lg-block col-sm-6 col-md-3 mb-3">
                    <h5 class="h6">Sveriges Vårdgivare AB</h5>
                    <ul class="h-100 nav flex-column">
                        <li class="nav-item mb-2">Org.nr: 559202-1116</li>
                        <li class="nav-item mb-2">Adressvägen 110, 111 11 Stockholm</li>
                        <li class="nav-item mb-2">+46 (0) 10 123 45 67</li>
                        <li class="nav-item mb-2">info@sverigesvardgivare.se</li>
                    </ul>
                </div>
            </div>

            <div class="d-flex flex-column flex-md-row justify-content-between pt-4 mt-3 border-top">
                <p class="mb-0 pb-4 pb-lg-2">
                    &copy; 2023 Sveriges Vårdgivare •
                    <a class="link-info fw-medium" href="/admin/start">Admin</a>
                </p>
                <div class="d-flex text-dark gap-2 opacity-75 order-first order-md-last pb-4 pb-lg-2">
                    <a class="link-dark" href="/anvandarvillkor">Användarvillkor</a>
                    <span>•</span>
                    <a class="link-dark" href="/integritetspolicy">Integritetspolicy</a>
                    <span>•</span>
                    <a class="link-dark" href="/cookies">Cookies</a>
                </div>
            </div>
        </div>
    </footer>
</main>

<!-- Vendor Scripts -->
<script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="/vendor/swiper/swiper-bundle.min.js"></script>
<script th:if="${notificationMsg=='contact'}">
    alert("Formulär skickat!")
</script>
<script th:if="${notificationMsg=='listing'}">
    alert("List begäran skickad!")
</script>
<script th:if="${notificationMsg=='newsLetter'}">
    alert("Tack för att du har prenumererat på vårt nyhetsbrev!")
</script>
<script th:if="${notificationMsg=='captchaFailed'}">
    alert("Recaptcha validering misslyckades")
</script>
<script th:if="${notificationMsg=='newsLetterRemoved'}">
    alert("Du har nu blivit borttagen från vårt nyhetsbrev.")
</script>

<!-- Main Theme Script -->
<script src="/js/theme.min.js"></script>
</body>
</html>