<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Lista ditt företag | Sveriges Vårdgivare</title>

    <meta name="description" content="Hos oss kan man hitta, jämföra och kontrollera vårdgivare i Sverige. Lista din verksamhet idag och nå en mycket bredare publik.">
    <meta name="author" content="Ensotech AB">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#6366f1">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#080032">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Styles -->
    <link rel="stylesheet" media="screen" href="/vendor/boxicons/css/boxicons.min.css"/>
    <link rel="stylesheet" media="screen" href="/vendor/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" media="screen" href="/css/theme.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2SMSZHG7MH"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-2SMSZHG7MH');
    </script>
</head>

<body>
    <div class="modal fade" id="modalVerksamhetsprofil" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Verksamhetsprofil</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="fw-bold">-Din verksamhets kvalitet - digitalt förmedlad</p>
                    <p>
                        Genom att komplettera verksamhetens befintliga vårdgivare profil med
                        verksamhetsbeskrivning, bilder och logotyp kan du stärka ditt varumärke och ge korrekt
                        information om verksamhetens kvalitetsarbete, inriktning och målgrupp när kommuner och
                        privatpersoner utför sökningar i databasen. Du har även möjlighet att ladda upp
                        informationsmaterial i PDF-format för att ge ännu mer detaljerad information om din
                        verksamhet. Verksamheten syns även med logotyp i sökresultatet.
                        USP:ar
                    </p>
                    <ul>
                       <li class="mb-2">
                            Skapa en egen professionell och engagerande verksamhetsbeskrivning som speglar
                            verksamhetens kvalitet och värderingar.
                       </li>
                       <li class="mb-2">
                            Stärk ditt varumärke genom att ladda upp din egen logotyp och bildmaterial.
                        </li> 
                        <li class="mb-2">
                            Tilldela en kontaktperson för att snabbt och effektivt svara på frågor och för att ge en
                            personlig och förtroendefull kontakt.
                       </li> 
                       <li class="mb-2">
                            Ladda enkelt upp relevanta PDF-filer som ger en djupare inblick i din verksamheten.
                        </li> 
                        <li class="mb-2">
                            Direktlänk till er hemsida.
                       </li> 
                       <li class="mb-2">
                            Verksamhetens syns med logotyp vid slagningar i databasen.
                        </li> 
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Stäng fönster</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalBannerannonsering" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Bannerannonsering</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="fw-bold">-Annonsera på startsidan, listsök och nyheter</p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur velit iure exercitationem error magnam laudantium esse, earum corporis fuga fugit sequi, ipsa eveniet enim.
                </p>
            </div>  
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Stäng fönster</button>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="modalUtvaldaVardgivare" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Utvalda Vårdgivare</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="fw-bold">-Lämna ett avtryck direkt på startsidan</p>
                    <p>
                        Som utvald vårdgivare blir din verksamhet och varumärke det första som möter
                        webbplatsens besökare på startsidan.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Stäng fönster</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalSponsratListsok" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Sponsrat listsök</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="fw-bold">-Din verksamhets kvalitet - digitalt förmedlad</p>
                    <p>
                        Sponsrat listsök är en produkt du som vårdgivare kan köpa för att få fler relevanta
                        besök till din verksamhetsprofil. Med sponsrat listsök syns din verksamhetsprofil högst upp i
                        resultatlistan inom länet som din verksamhet är verksam i på Sveriges Vårdgivare under x
                        antal dygn. Samtidigt visas din vanliga verksamhetsprofil på sin ordinarie plats i
                        resultatlistan.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Stäng fönster</button>
                </div>
            </div>
        </div>
    </div>
      

<main class="page-wrapper">

    <!-- Header -->
    <header class="navbar navbar-expand-lg bg-light shadow-sm sticky-top">
        <div class="container">
            <a href="/" class="navbar-brand fs-5 h1 m-0 me-3 text-info">
                <img class="me-2" src="/img/logo.png" width="40" alt="Sveriges Vårdgivare">
                Sveriges Vårdgivare
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav id="navbarCollapse" class="collapse navbar-collapse">
                <hr class="d-lg-none mt-3 mb-2">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a href="/vardgivare?page=0" class="nav-link">Vårdgivare</a>
                    </li>
                    <li class="nav-item">
                        <a href="/om-oss" class="nav-link">Om oss</a>
                    </li>
                    <li class="nav-item">
                        <a href="/kvalitet" class="nav-link">Kvalitet</a>
                    </li>
                    <li class="nav-item">
                        <a href="/nyheter?page=0&category=all" class="nav-link">Nyheter</a>
                    </li>
                    <li class="nav-item">
                        <a href="/kontakt" class="nav-link">Kontakta oss</a>
                    </li>
                </ul>
                <a href="/lista-foretag" class="btn btn-primary btn-sm fs-sm rounded my-3 my-lg-0">
                    Lista ditt företag
                    <i class="d-none d-xl-inline bx bx-right-arrow-alt fs-lg ms-1"></i>
                </a>
            </nav>
        </div>
    </header>

    <!-- <section class="position-relative pt-4 pb-4" style="min-height: 93vh">
        <div class="position-absolute top-0 start-0 h-100 w-50 bg-position-center bg-size-cover d-none d-xl-block" th:style="'background-image:url(' + ${coverImage.src} + ');'"></div>

        <div class="container d-flex flex-wrap justify-content-center justify-content-xl-end pb-4">
            <div class="w-100 align-self-end pt-1 pt-md-4 pb-lg-4 mt-4" style="max-width: 526px;">
                <h2 class="h6 b-2 fw-bold text-info">Sveriges Vårdgivare</h2>
                <h1 class="mb-4">Lista ditt företag -<br>Nå rätt publik snabbare!</h1>
                <form class="needs-validation mb-2" th:action="@{/lista-foretag}" method="post">
                    <div class="position-relative">
                        <label for="listCmpName" class="form-label fs-base">Verksamhet</label>
                        <input type="text" id="listCmpName" name="listCmpName" class="form-control form-control-lg" placeholder="Din verksamhet" required>
                        <div class="invalid-feedback position-absolute start-0 top-100">Var god skriv in namnet på din verksamhet.</div>
                    </div>
                    <div class="position-relative mt-4 pt-2">
                        <label for="listContactName" class="form-label fs-base">Kontaktperson</label>
                        <input type="text" id="listContactName" name="listContactName" class="form-control form-control-lg" placeholder="Sven Svensson" required>
                        <div class="invalid-feedback position-absolute start-0 top-100 mb-2">Var god skriv in ditt namn.</div>
                    </div>
                    <div class="position-relative mt-4 pt-2">
                        <label for="listTel" class="form-label fs-base">Telefon</label>
                        <input type="tel" id="listTel" name="listTel" class="form-control form-control-lg" placeholder="+46 70 123 45 67" required>
                        <div class="invalid-feedback position-absolute start-0 top-100">Var god skriv in ert telefonnummer.</div>
                    </div>
                    <div class="position-relative mt-4 pt-2">
                        <label for="listEmail" class="form-label fs-base">E-post</label>
                        <input type="email" id="listEmail" name="listEmail" class="form-control form-control-lg" placeholder="din@domän.se" required>
                        <div class="invalid-feedback position-absolute start-0 top-100">Var god skriv in en giltig e-post.</div>
                    </div>
                    <div class="mt-5">
                        <div class="form-check">
                            <input type="checkbox" id="remember" class="form-check-input" required>
                            <label for="remember" class="form-check-label fs-sm">Jag godkänner Sveriges Vårdgivare ABs integritetspolicy</label>
                        </div>
                    </div>
                    <input type="hidden" id="g-token" name="g-token">
                    <button type="submit" class="mt-3 btn btn-primary shadow-primary btn-lg w-100">
                        Lista företag
                        <i class="bx bx-check fs-xl ms-1"></i>
                    </button>
                </form>
            </div>
        </div>
    </section> -->

    <section class="py-5 container">
        <h1 class="mb-4">Lista ditt företag</h1>
        <div class="row">
            <div class="col-lg-8 pe-xl-5">
                <!-- Image Slider -->
                <div class="swiper swiper-nav-onhover" data-swiper-options='{
                    "loop": false,
                    "autoplay": {
                        "delay": 5000
                    },
                    "speed": 1000,
                    "pagination": {
                        "el": ".swiper-pagination",
                        "clickable": true
                    },
                    "navigation": {
                        "prevEl": ".btn-prev",
                        "nextEl": ".btn-next"
                    }
                }'>
                    <div class="swiper-wrapper rounded-3">
                        <!-- Item -->
                        <div class="swiper-slide rounded-3 overflow-hidden shadow">
                            <div class="ratio ratio-16x9 bg-secondary">
                                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center display-4">
                                    <img th:src="${coverImage.src}" style="object-fit: cover; object-position: center;" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <h2 class="h3">Format och priser</h2>  
                    <div class="position-relative d-flex align-items-center py-3 border-bottom gap-3">
                        <img src="/img/placeholder_image.jpg" alt="" style="width: 80px; height: 50px;">
                        <div>
                            <h6 data-bs-toggle="modal" data-bs-target="#modalVerksamhetsprofil" style="cursor: pointer;" class="h6 text-decoration-none text-primary stretched-link mb-0">Verksamhetsprofil</h6>
                            <p class="fw-bold mb-0">-Din verksamhets kvalitet - digitalt förmedlad</p>
                        </div>
                    </div>
                    <div class="position-relative d-flex align-items-center py-3 border-bottom gap-3">
                        <img src="/img/placeholder_image.jpg" alt="" style="width: 80px; height: 50px;">
                        <div>
                            <h6 data-bs-toggle="modal" data-bs-target="#modalUtvaldaVardgivare" style="cursor: pointer;" class="h6 text-decoration-none text-primary stretched-link mb-0">Utvalda vårdgivare</h6>
                            <p class="fw-bold mb-0">-Lämna ett avtryck direkt på startsidan</p>
                        </div>
                    </div>
                    <div class="position-relative d-flex align-items-center py-3 border-bottom gap-3">
                        <img src="/img/placeholder_image.jpg" alt="" style="width: 80px; height: 50px;">
                        <div>
                            <h6 data-bs-toggle="modal" data-bs-target="#modalBannerannonsering" style="cursor: pointer;" class="h6 text-decoration-none text-primary stretched-link mb-0">Bannerannonsering</h6>
                            <p class="fw-bold mb-0">-Annonsera på startsidan, listsök och nyheter</p>
                        </div>
                    </div>
                    <div class="position-relative d-flex align-items-center py-3 border-bottom gap-3">
                        <img src="/img/placeholder_image.jpg" alt="" style="width: 80px; height: 50px;">
                        <div>
                            <h6 data-bs-toggle="modal" data-bs-target="#modalSponsratListsok" style="cursor: pointer;" class="h6 text-decoration-none text-primary stretched-link mb-0">Sponsrat listsök</h6>
                            <p class="fw-bold mb-0">-Uppnå en bättre placering vid sökning i databasen</p>
                        </div>
                    </div>
                    <div class="position-relative d-flex align-items-center py-3 border-bottom gap-3">
                        <img src="/img/placeholder_image.jpg" alt="" style="width: 80px; height: 50px;">
                        <div>
                            <h6 data-bs-toggle="modal" data-bs-target="modal" style="cursor: pointer;" class="h6 text-decoration-none text-primary stretched-link mb-0">Utfyllnad</h6>
                            <p class="fw-bold mb-0">-Utfyllnad</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-first order-lg-last mb-4 mb-lg-0">
                <div class="card overflow-hidden shadow mb-4">
                    <div class="card-body">
                        <h2 class="h3">Annonsering på Sveriges Vårdgivare</h2>
                        <p class="mb-4">
                            Sveriges vårdgivare arbetar för att stärka kvaliteten och regelefterlevnaden inom vård- och
                            omsorgssektorn. Mot bakgrund av detta har vi skapat annonserings lösningar som hjälper
                            verksamheter som med mycket stor sannolikhet antas kunna efterfölja de lagar, föreskrifter
                            och förordningar för kvalitetsarbete som reglerar verksamheten att synas på vår plattform.
                            Verksamheter som är under bedömning tillåts att ta del av vårt tjänsteutbud under en
                            begränsad period. Verksamheter som med mycket stor sannolikhet inte antas kunna
                            efterfölja de lagar, föreskrifter och förordningar för kvalitetsarbete som reglerar
                            verksamheten tillåts inte att ta del av vårt tjänsteutbud.
                        </p>
                        <div class="d-flex align-items-center gap-1 mb-2">
                            <i class="bx bx-check fs-4"></i>
                            Helt kostnadsfritt
                        </div>
                        <div class="d-flex align-items-center gap-1 mb-2">
                            <i class="bx bx-check fs-4"></i>
                            Prisförslag
                        </div>
                        <div class="d-flex align-items-center gap-1 mb-2">
                            <i class="bx bx-check fs-4"></i>
                            Inga förbindelser
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="/lista-foretag-formular">
                            <button type="submit" class="mt-3 btn btn-primary shadow-primary btn-lg w-100">
                                Lista företag
                                <i class="bx bx-check fs-xl ms-1"></i>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <footer class="pt-4 pt-sm-5 bg-faded-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-lg-5 mb-3">
                    <form th:action="@{/nyhetsbrev}" method="post">
                        <div class="d-flex gap-3">
                            <img src="/img/logo.png" style="max-width: 70px; height: 70px;" alt="">
                            <h5 style="max-width: 280px;" class="h4">Branschnyheter och granskningar från SVG</h5>
                        </div>
                        <p class="mb-4" style="max-width: 500px;">Håll dig uppdaterad om vår verksamhet! Vårt digitala nyhetsbrev skickas ca en gång per månad.</p>
                        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                            <label for="newsletter1" class="visually-hidden">E-post</label>
                            <input id="newsletter1" type="text" name="email" class="form-control shadow-sm" placeholder="Din e-post...">
                            <button class="btn btn-primary shadow-sm" type="submit">Prenumera</button>
                        </div>
                    </form>
                </div>

                <div class="col-md-3 col-lg-2 offset-md-2 mb-3">
                    <h5 class="h6 mt-3 mt-md-0">Navigera</h5>
                    <ul class="h-100 fs-sm nav flex-md-column flex-sm-row flex-column gap-3 gap-md-2">
                        <li class="nav-item"><a href="/vardgivare?page=0" class="link-dark p-0">Vårdgivare</a></li>
                        <li class="nav-item"><a href="/om-oss" class="link-dark p-0">Om oss</a></li>
                        <li class="nav-item"><a href="/kvalitet" class="link-dark p-0">Kvalitet</a></li>
                        <li class="nav-item"><a href="/nyheter" class="link-dark p-0">Nyheter</a></li>
                        <li class="nav-item"><a href="/kontakt" class="link-dark p-0">Kontakt</a></li>
                        <li class="nav-item"><a href="/lista-foretag" class="link-dark p-0">Lista ditt företag</a></li>
                    </ul>
                </div>
                <div class="d-none d-lg-block col-sm-6 col-md-3 mb-3">
                    <h5 class="h6">Sveriges Vårdgivare AB</h5>
                    <ul class="h-100 nav flex-column">
                        <li class="nav-item mb-2">Org.nr: 559202-1116</li>
                        <li class="nav-item mb-2">Adressvägen 110, 111 11 Stockholm</li>
                        <li class="nav-item mb-2">+46 (0) 10 123 45 67</li>
                        <li class="nav-item mb-2">info@sverigesvard.se</li>
                    </ul>
                </div>
            </div>

            <div class="d-flex flex-column flex-md-row justify-content-between pt-4 mt-3 border-top">
                <p class="mb-0 pb-4 pb-lg-2">
                    &copy; 2023 Sveriges Vårdgivare •
                    <a class="link-info fw-medium" href="/admin/start">Admin</a>
                </p>
                <div class="d-flex text-dark gap-2 opacity-75 order-first order-md-last pb-4 pb-lg-2">
                    <a class="link-dark" href="https://ucarecdn.com/883a18cd-ead9-4738-8f0a-8af9ddb5ca2c/">Ansvarig utgivare</a>
                    <span>•</span>
                    <a class="link-dark" href="https://ucarecdn.com/59ebeed9-6f7b-4180-821b-91e65f4ec173/">Integritetspolicy</a>
                    <span>•</span>
                    <a class="link-dark" href="https://ucarecdn.com/fd7b9dee-a28b-40c3-91d3-21fbf990ecbe/">Cookies</a>
                </div>
            </div>
        </div>
    </footer>
</main>

<!-- Vendor Scripts -->
<script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="/vendor/swiper/swiper-bundle.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js?render=6Lfe5HghAAAAAIEgRY0VeoqZ_8ML8UWMgLPKBfai"></script>

<!-- Modal -->
<script>
    var myModal = document.getElementById('myModal')
    var myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', function () {
    myInput.focus()
    })
</script>

<script>
    grecaptcha.ready(function() {
        grecaptcha.execute('6Lfe5HghAAAAAIEgRY0VeoqZ_8ML8UWMgLPKBfai', {action: 'submit'}).then(function(token) {
            document.getElementById("g-token").value = token
        });
    });
</script>

<!-- Main Theme Script -->
<script src="/js/theme.min.js"></script>
</body>
</html>