<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Logga in | Sveriges Vårdgivare</title>

    <meta name="author" content="Ensotech AB">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#6366f1">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#080032">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Styles -->
    <link rel="stylesheet" media="screen" href="/vendor/boxicons/css/boxicons.min.css"/>
    <link rel="stylesheet" media="screen" href="/vendor/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" media="screen" href="/css/theme.css">
</head>

<body>

<main class="page-wrapper">

    <!-- Header -->
    <header class="navbar navbar-expand-lg bg-light shadow-sm sticky-top">
        <div class="container">
            <a href="/" class="navbar-brand fs-5 h1 m-0 me-3 text-info">
                <img class="me-2" src="/img/logo.png" width="40" alt="Sveriges Vårdgivare">
                Sveriges Vårdgivare
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav id="navbarCollapse" class="collapse navbar-collapse">
                <hr class="d-lg-none mt-3 mb-2">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a href="/vardgivare?page=0" class="nav-link">Vårdgivare</a>
                    </li>
                    <li class="nav-item">
                        <a href="/om-oss" class="nav-link">Om oss</a>
                    </li>
                    <li class="nav-item">
                        <a href="/kvalitet" class="nav-link">Kvalitet</a>
                    </li>
                    <li class="nav-item">
                        <a href="/nyheter" class="nav-link">Nyheter</a>
                    </li>
                    <li class="nav-item">
                        <a href="/kontakt" class="nav-link">Kontakta oss</a>
                    </li>
                </ul>
                <a href="/lista-foretag" class="btn btn-primary btn-sm fs-sm rounded my-3 my-lg-0">
                    Lista ditt företag
                    <i class="d-none d-xl-inline bx bx-right-arrow-alt fs-lg ms-1"></i>
                </a>
            </nav>
        </div>
    </header>

    <section class="min-vh-100 d-flex justify-content-center align-items-center" style="margin-top: -79px;">
        <div class="container d-flex flex-column pt-5" style="max-width: 400px;">
            <img src="/img/logo.png" class="mx-auto mb-4" alt="" width="150">
            <h1 class="h2 d-flex align-items-center gap-2 mx-auto">
                <i class="bx bx-cog display-6"></i>
                Logga in
            </h1>
            <form class="needs-validation" th:action="@{/login}" method="post">
                <div th:if="${param.error}" class="mb-2">Fel e-post eller lösenord</div>
                <div class="mb-3">
                    <input class="form-control shadow-sm" type="email" id="email" name="username" placeholder="E-post" required>
                    <div class="invalid-feedback">Var god skriv in din e-post.</div>
                </div>
                <div class="mb-3">
                    <input required class="form-control shadow-sm" type="password" id="password" name="password" placeholder="Lösenord">
                    <div class="invalid-feedback">Var god skriv in ditt lösenord.</div>
                </div>
                <div class="d-flex justify-content-end mb-4">
                    <a class="fw-bold d-flex align-items-center text-decoration-none" href="/aterstall-losenord">
                        <i class="bx bx-lock-open-alt fs-lg me-1"></i>
                        Glömt lösenord?
                    </a>
                </div>
                <button class="btn btn-primary w-100 shadow-primary" type="submit">
                    Logga in
                    <i class="bx bx-log-in ms-1 fs-lg"></i>
                </button>
                <p class="mt-4 mb-2 text-center text-muted">© 2023 Sveriges Vårdgivare</p>
                <p class="text-center fs-sm text-muted">Byggt av <a class="text-decoration-none link-dark fw-bold" target="_blank" href="https://www.e-rekrytering.io/">Ensotech AB</a></p>
            </form>
        </div>
    </section>
</main>

<!-- Vendor Scripts -->
<script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

<!-- Main Theme Script -->
<script src="/js/theme.min.js"></script>
</body>
</html>