<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Nyheter | Sveriges Vårdgivare</title>

    <meta name="description" content="Senaste nytt från Sveriges Vårdgivare.">
    <meta name="author" content="Ensotech AB">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#6366f1">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#080032">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Styles -->
    <link rel="stylesheet" media="screen" href="/vendor/boxicons/css/boxicons.min.css"/>
    <link rel="stylesheet" media="screen" href="/vendor/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" media="screen" href="/css/theme.css">
</head>

<body>

<main class="page-wrapper">

    <!-- Header -->
    <header class="navbar navbar-expand-lg bg-light shadow-sm sticky-top">
        <div class="container">
            <a href="/" class="navbar-brand fs-5 h1 m-0 me-3 text-info">
                <img class="me-2" src="/img/logo.png" width="40" alt="Sveriges Vårdgivare">
                Sveriges Vårdgivare
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav id="navbarCollapse" class="collapse navbar-collapse">
                <hr class="d-lg-none mt-3 mb-2">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a href="/vardgivare?page=0" class="nav-link">Vårdgivare</a>
                    </li>
                    <li class="nav-item">
                        <a href="/om-oss" class="nav-link">Om oss</a>
                    </li>
                    <li class="nav-item">
                        <a href="/kvalitet" class="nav-link">Kvalitet</a>
                    </li>
                    <li class="nav-item">
                        <a href="/nyheter?page=0&category=all" class="nav-link">Nyheter</a>
                    </li>
                    <li class="nav-item">
                        <a href="/kontakt" class="nav-link">Kontakta oss</a>
                    </li>
                </ul>
                <a href="/lista-foretag" class="btn btn-primary btn-sm fs-sm rounded my-3 my-lg-0">
                    Lista ditt företag
                    <i class="d-none d-xl-inline bx bx-right-arrow-alt fs-lg ms-1"></i>
                </a>
            </nav>
        </div>
    </header>

    <!-- Breadcrumb -->
    <nav class="container" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 pt-5">
            <li class="breadcrumb-item">
                <a href="/"><i class="bx bx-home-alt fs-lg me-1"></i>Hem</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page"></i>Nyheter</li>
        </ol>
    </nav>

    <!-- Blog Section -->
    <section class="container pb-5 mt-4">
        <h1 class="display-4 mb-5">Nyheter</h1>
        <div class="row">
            <div class="col-xl-9 col-lg-8">
                <div class="tableSearch">
                    <!-- Item -->
                    <article class="card border-0 bg-transparent me-xl-5 mb-4 mb-sm-5" th:each="nyhet : ${nyheter}">
                        <div class="row g-0">
                            <div class="col-sm-4 position-relative bg-position-center bg-repeat-0 bg-size-cover rounded-3" th:style="'background-image: url(' + ${nyhet.coverImgSrc} + '); min-height: 10rem;'"></div>
                            <div class="col-sm-8">
                                <div class="card-body ps-0 ps-sm-4 pe-0 pt-4 py-sm-1">
                                    <div class="fs-sm text-dark mb-2" th:text="${nyhet.published}">Oct 9, 2021</div>
                                    <h4 class="h5">
                                        <a class="stretched-link" th:href="'/nyheter/' + ${nyhet.id}" th:text="${nyhet.title}">Lorem Ipsum Dolor Sit Amet Consectetur?</a>
                                    </h4>
                                    <div class="position-relative mt-2 overflow-hidden" style="max-height:80px">
                                        <div class="position-absolute h-100 w-100" style="z-index: 5; background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255,255,255,1) 100%); "></div>
                                        <p class="position-relative mb-0" th:text="${nyhet.content}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- Pagination -->
                    <nav aria-label="Page navigation example" th:if="${nyheter.size>=5 || page>0}">
                        <ul class="pagination">
                            <li class="page-item">
                                <a th:if="${page>0}" style="cursor: pointer" th:onclick="searchResults([[${page-1}]])" class="page-link shadow-sm border">
                                    <i class="bx bx-chevron-left mx-n1"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a style="cursor: pointer" th:if="${page>1}" th:onclick="searchResults([[${page-2}]])" th:text="${page-1}" class="page-link shadow-sm border">1</a>
                            </li>
                            <li class="page-item">
                                <a style="cursor: pointer" th:if="${page>0}" th:onclick="searchResults([[${page-1}]])" th:text="${page}" class="page-link shadow-sm border">2</a>
                            </li>
                            <li class="page-item active" aria-current="page">
                                <span class="page-link bg-info shadow-info" th:text="${page+1}">
                                  3
                                  <span class="visually-hidden">(current)</span>
                                </span>
                            </li>
                            <li class="page-item">
                                <a th:if="${page+1<totalHits}" th:onclick="searchResults([[${page+1}]])" th:text="${page+2}" style="cursor: pointer" class="page-link shadow-sm border">4</a>
                            </li>
                            <li class="page-item">
                                <a th:if="${page+2<totalHits-1}" th:onclick="searchResults([[${page+2}]])" th:text="${page+3}" style="cursor: pointer" class="page-link shadow-sm border">5</a>
                            </li>
                            <li class="page-item">
                                <a th:if="${page+1<totalHits}" th:onclick="searchResults([[${page+1}]])" style="cursor: pointer" class="page-link shadow-sm border">
                                    <i class="bx bx-chevron-right mx-n1"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>


            <!-- Sidebar (Offcanvas below lg breakpoint) -->
            <aside class="col-xl-3 col-lg-4">
                <div class="offcanvas-lg offcanvas-end" id="blog-sidebar" tabindex="-1">

                    <!-- Header -->
                    <div class="offcanvas-header border-bottom">
                        <h3 class="offcanvas-title fs-lg">Sidebar</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#blog-sidebar"></button>
                    </div>

                    <!-- Body -->
                    <div class="offcanvas-body">

                        <!-- Search form -->
                        <form class="input-group mb-4">
                            <input type="text" id="search_input" oninput="searchResults(0)" placeholder="Sök..." class="form-control rounded shadow-sm pe-5">
                            <i class='bx bx-search position-absolute top-50 end-0 translate-middle-y me-3 fs-lg zindex-5'></i>
                        </form>

                        <!-- Categories -->
                        <div class="card border-0 card-body shadow-sm mb-4">
                            <h3 class="h5">Tidsintervall</h3>
                            <ul class="nav flex-column fs-sm">
                                <li class="nav-item mb-1">
                                    <a th:classappend="${category == 'all'} ? 'active'" href="/nyheter?page=0&category=all" class="nav-link py-1 px-0">Alla</a>
                                </li>
                                <li class="nav-item mb-1">
                                    <a th:classappend="${category == 'v'} ? 'active'" href="/nyheter?page=0&category=v" class="nav-link py-1 px-0">Senaste veckan</a>
                                </li>
                                <li class="nav-item mb-1">
                                    <a th:classappend="${category == 'm'} ? 'active'" href="/nyheter?page=0&category=m" class="nav-link py-1 px-0">Senaste månaden</a>
                                </li>
                                <li class="nav-item mb-1">
                                    <a th:classappend="${category == 'y'} ? 'active'" href="/nyheter?page=0&category=y" class="nav-link py-1 px-0">Senaste året</a>
                                </li>
                            </ul>
                        </div>

                        <!-- Advertising -->
                        <div class="offcanvas-body">
                            <div class="swiper" style="height: 790px">
                                <!-- Additional required wrapper -->
                                <div class="swiper-wrapper">
                                    <!-- Slides -->
                                    <div class="swiper-slide d-flex justify-content-end" th:each="post : ${posts}">
                                        <a th:href="${post.link}" th:target="_blank"  th:style="'height: 250px !important; width:300px; background:url('+ ${post.coverImgSrc} +');'" class="bg-faded-primary rounded-3 shadow-sm bg-size-cover bg-position-center d-flex align-items-end p-2">
                                            <h4 class="text-white text-center h6 w-100" th:text="${post.content}" style="text-shadow: 1px 5px 5px #0000007a;">Lorem ipsum dolor sit amet consectetur adipisicing</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 text-muted text-center">Vill du synas här? <a class="fw-bold text-decoration-none" href="/kontakt">Kontakta oss</a></p>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </section>

    <footer class="pt-4 pt-sm-5 bg-faded-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-lg-5 mb-3">
                    <form th:action="@{/nyhetsbrev}" method="post">
                        <div class="d-flex gap-3">
                            <img src="/img/logo.png" style="max-width: 70px; height: 70px;" alt="">
                            <h5 style="max-width: 280px;" class="h4">Branschnyheter och granskningar från SVG</h5>
                        </div>
                        <p class="mb-4" style="max-width: 500px;">Håll dig uppdaterad om vår verksamhet! Vårt digitala nyhetsbrev skickas ca en gång per månad.</p>
                        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                            <label for="newsletter1" class="visually-hidden">E-post</label>
                            <input id="newsletter1" type="text" name="email" class="form-control shadow-sm" placeholder="Din e-post...">
                            <button class="btn btn-primary shadow-sm" type="submit">Prenumera</button>
                        </div>
                    </form>
                </div>

                <div class="col-md-3 col-lg-2 offset-md-2 mb-3">
                    <h5 class="h6 mt-3 mt-md-0">Navigera</h5>
                    <ul class="h-100 fs-sm nav flex-md-column flex-sm-row flex-column gap-3 gap-md-2">
                        <li class="nav-item"><a href="/vardgivare" class="link-dark p-0">Vårdgivare</a></li>
                        <li class="nav-item"><a href="/om-oss" class="link-dark p-0">Om oss</a></li>
                        <li class="nav-item"><a href="/kvalitet" class="link-dark p-0">Kvalitet</a></li>
                        <li class="nav-item"><a href="/nyheter" class="link-dark p-0">Nyheter</a></li>
                        <li class="nav-item"><a href="/kontakt" class="link-dark p-0">Kontakt</a></li>
                        <li class="nav-item"><a href="/lista-foretag" class="link-dark p-0">Lista ditt företag</a></li>
                    </ul>
                </div>
                <div class="d-none d-lg-block col-sm-6 col-md-3 mb-3">
                    <h5 class="h6">Sveriges Vårdgivare AB</h5>
                    <ul class="h-100 nav flex-column">
                        <li class="nav-item mb-2">Org.nr: 559202-1116</li>
                        <li class="nav-item mb-2">Adressvägen 110, 111 11 Stockholm</li>
                        <li class="nav-item mb-2">+46 (0) 10 123 45 67</li>
                        <li class="nav-item mb-2">info@sverigesvard.se</li>
                    </ul>
                </div>
            </div>

            <div class="d-flex flex-column flex-md-row justify-content-between pt-4 mt-3 border-top">
                <p class="mb-0 pb-4 pb-lg-2">
                    &copy; 2023 Sveriges Vårdgivare •
                    <a class="link-info fw-medium" href="/admin/start">Admin</a>
                </p>
                <div class="d-flex text-dark gap-2 opacity-75 order-first order-md-last pb-4 pb-lg-2">
                    <a class="link-dark" href="/anvandarvillkor">Användarvillkor</a>
                    <span>•</span>
                    <a class="link-dark" href="/integritetspolicy">Integritetspolicy</a>
                    <span>•</span>
                    <a class="link-dark" href="/cookies">Cookies</a>
                </div>
            </div>
        </div>
    </footer>
</main>

<!-- Vendor Scripts -->
<script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Main Theme Script -->
<script src="/js/theme.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script>
    function searchResults(page){
        const urlParams = new URLSearchParams(window.location.search);
        let search_input = document.getElementById("search_input").value
        let category = urlParams.get('category')
        $.get("/search_news",
            {"search_input": search_input, "page": page, "category": category}).done(function (fragment) {
            $(".tableSearch").replaceWith(fragment); // update snippet of page
        })
    }
</script>
<script>
    const swiper = new Swiper('.swiper', {
        slidesPerView: 1,
        direction:"vertical",
        loop:true,
        autoplay: {
            delay: 3000
        },
        spaceBetween: 0,
        // using "ratio" endpoints
        breakpoints: {
            '@0.75': {
                slidesPerView: 3,
                spaceBetween: 20,
            },
            '@1.00': {
                slidesPerView: 3,
                spaceBetween: 20,
            },
            '@1.50': {
                slidesPerView: 3,
                spaceBetween: 20,
            },
        }
    });
</script>
</body>
</html>